<!-- Footer -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top bg-dark">

    <span class="mx-3 align-items-center text-muted"><a href="http://www.liceoviconapoli.edu.it">©2024 G.B. Vico Napoli</a></span>

    <ul class="col-md-4 justify-content-end d-flex px-2 my-auto">
      <li><a class="px-2" href=""
          target="_blank" title="Condividi su Whatsapp"><i class="fa-brands fa-whatsapp fa-beat" back></i></a></li>
      <li><a class="px-2"
          href=""
          target="_blank" title="Condividi su Facebook"><i class="fa-brands fa-facebook fa-beat"></i></a></li>
      <li><a class="px-2"
          href=""
          target="_blank" title="Condividi su Twitter"><i class="fa-brands fa-twitter fa-beat"></i></a></li>
      <li><a class="px-2" href=""
          target="_blank" title="Condividi su Telegram"><i class="fa-brands fa-telegram fa-beat"></i></a></li>
    </ul>
  </footer>