<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand px-4" href="">
        <img src="/assets/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Pensieri di Leopardi
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-4">
          <li class="nav-item">
            <a class="nav-link" href="/#home">Home</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary me-4" id="random-thought" data-mdb-ripple-init><i class="fas fa-dice"></i></button>
        <form class="d-flex me-2">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button type="button" class="btn btn-primary" data-mdb-ripple-init><i class="fas fa-search"></i></button>
        </form>
      </div>
    </nav>
</header>